{% if dati.status != 'nessuna operazione in corso' %}
	<p>{{dati.status}}</p>
{% endif %}

<form method="post">
	<input type="hidden" name="id" value="{{dati.id}}">
	<label>Nome</label>
	<input type="text" name="nome" value="{{dati.nome}}" required>
	<label>Telefono</label>
	<input type="tel" name="telefono" value="{{dati.telefono}}" required maxlength="10">
	<button type="submit">Submit</button>
</form>

<h2>Lista Padroni</h2>

<table border="1">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nome</td>
			<td>Telefono</td>
			<td>Azioni</td>
		</tr>
	</thead>
	<tbody>
		{% for x in lista_padroni %}
			<tr>
				<td>{{x.id}}</td>
				<td>{{x.nome}}</td>
				<td>{{x.telefono}}</td>
				<td>
					<a href="?x=lista-padroni&modifica={{x.id}}">Modifica</a>
					<a href="?x=lista-padroni&elimina={{x.id}}" onclick="return confirm('Sicuro vero?')">Elimina</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
