{% extends "index.twig" %}
{% block title %}
	{{titolo}}
{% endblock %}
{% block content %}
	<h1>{{titolo}}</h1>

	{% include "listaCani.twig" %}

	{% set azione = modifica_cane ? 'modifica_cane' : 'aggiungi_cane' %}
	<form method="post">
		<input
		type="hidden" name="azione" value="{{azione}}">
		{# il campo azione chiede in modo dinamico al server quale azione
				        usare tra quelle riportate nel set #}
		<input type="hidden" name="id" value="{{cane.id}}">
		<input type="text" name="nome" value="{{cane.nome ?? ''}}" placeholder="nome">
		<input type="text" name="data_nascita" value="{{cane.data_nascita ?? ''}}" placeholder="data di nascita">
		<button type="submit">{{modifica_cane ? 'modifica' : 'aggiungi'}}</button>
	</form>
{% endblock %}
