{% extends "index.twig" %}
{% block head %}
	{{parent()}}
{% endblock %}

{% block content %}
	<h1>Album</h1>
	<ul>
		{% if album is not empty %}
			{% for x in album %}
				<li>{{x.getTitolo()}}
					di
					{{x.getAutore()}}
					pubblicato nell'anno
					{{x.getAnno()}}
					appartenente al genere
					{{x.getGeneriString()}}</li>
			{% endfor %}
		{% else %}
			<li>Nessun album trovato</li>
		{% endif %}
	</ul>
{% endblock %}
