{% extends "index.twig" %}
{% block title %}
	{{titolo}}
{% endblock %}
{% block content %}
	<h1>{{titolo}}</h1>

	{% include "listaPadroni.twig" %}

	{% set azione = modifica ? 'modifica' : 'aggiungi' %}
	<form method="post">
		<input type="hidden" name="azione" value="{{azione}}">
		<input type="hidden" name="id" value="{{padrone.id}}">
		<input type="text" name="nome" value="{{padrone.nome ?? ''}}" placeholder="nome">
		<input type="text" name="telefono" value="{{padrone.telefono ?? ''}}" placeholder="telefono">
		<button type="submit">{{modifica ? 'modifica' : 'aggiungi'}}</button>
	</form>
{% endblock %}
