<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{titolo}}</title>
	</head>

	<body>
		<header>
			{% for k, v in pagine %}
				<a href="?x={{k}}">{{v.body.titolo}}</a>
				{% if not loop.last %}
					|
				{% endif %}
			{% endfor %}
		</header>
		<main>
			<h1>{{titolo}}</h1>
			{{main}}
		</main>
		<footer>
			{{risultato}}
		</footer>
	</body>

</html>
